@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }
}

@layer components {
  .dropdown-menu-content {
    animation: none !important;
    transform: none !important;
    transition: none !important;
  }
} 